DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app-user
APP_PORT=8080
APP_IP=0.0.0.0
APP_IMAGE=app-service:latest
CONTAINER_NAME=app-container
APP_NAME=APP_NAME
APP_NETWORK_NAME=APP_NETWORK


